#button-container {
  display: flex;
  justify-content: flex-end;
}

#preview-btn {
  justify-self: center;
  margin-right: 50%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-button {
  background-color: #6D82CD;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 15px -3px #000000;
}

.section-button:hover {
  transform: scale(0.9);
  transition-duration: 0.5s;
}

.section-button:active {
  background-color: #74EEA5;
  transition-duration: 0s;
}

.inactive-button {
  background-color: #E5E5E5;
  box-shadow: none;
  color: #E5E5E5;
  pointer-events: none;
}